# directories
.vs/
bin/
int/
CyEngine/tools/CyEngineBuildTool/x64/Debug
CyEngine/tools/CyEngineBuildTool/CyEngine.35776e3f/

# files
*.user
*.gen.h
*.gen.cpp
# *.vcxproj
*.vcxproj.filters
*/imgui.ini
CyEngine/.idea/
/.idea
