[submodule "CyEngine/vendor/spdlog"]
	path = CyEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CyEngine/vendor/glfw"]
	path = CyEngine/vendor/glfw
	url = https://github.com/TheCherno/glfw
