[submodule "CyEngine/vendor/spdlog"]
	path = CyEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CyEngine/vendor/glfw"]
	path = CyEngine/vendor/glfw
	url = https://github.com/TheCherno/glfw
[submodule "CyEngine/vendor/imgui"]
	path = CyEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "CyEngine/vendor/glm"]
	path = CyEngine/vendor/glm
	url = https://github.com/g-truc/glm
